{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Whitetail Chief!!</h1>
    <p>Specializing in Whitetail Scents for over 7 years!!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://whitetailchief.com/"><span class="glyphicon glyphicon-flash"></span> Home Page</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://whitetailchief.com/epages/9dc18906-1bc4-4536-b83f-a12b2dc6e2c0.sf/en_US/?ObjectPath=/Shops/9dc18906-1bc4-4536-b83f-a12b2dc6e2c0/Categories/Category1"><span class="glyphicon glyphicon-download"></span> Scents</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This site is a work in progress if you need help please visit our <a href="https://whitetailchief.com/" class="alert-link">old site here.</a> 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    If you need help please email us at <a href="mailto:contactus@whitetailchief.com"> contactus@whitetailchief</a>
  </div>
</div>
{% endblock %}
